# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\VoipDev-Workspace\bootstrap002\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
